{% extends "base.html.twig" %}

{% block title %}Dra ett kort{% endblock %}

{% block body %}
<h1>Dra ett kort</h1>

<p class="box">Det finns {{ count }} kort kvar i kortleken.</p>

<div class="row">
    {% for card in draw %}
        <p class="graphics">{{ card|raw }}</p>
    {% endfor %}
</div>

<div>
    <p>
        <a href="{{ path('card_index') }}">Tillbaka</a> |
        <a href="{{ path('draw_single') }}">Dra ett kort till</a>
    </p>
</div>

{% endblock %}