{% extends "base.html.twig" %}

{% block title %}Blandad kortlek{% endblock %}

{% block body %}
<h1>Blandad kortlek</h1>

<p class="box">Kortleken har blandats om. Det finns nu {{ count }}st kort i kortleken igen.</p>

<div class="suits">
    {% for batch in deck|batch(10) %}
        <div class="row">
            {% for card in batch %}
                <p class="graphics_small">{{ card|raw }}</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<div>
    <p>
        <a href="{{ path('card_index') }}">Tillbaka</a>
    </p>
</div>

{% endblock %}