{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
    <h1>Hem</h1>
    <div class="container">
        <div class="column">
            <p class="box">
                En kort presentation om mig, Mattias. Jag är inne på sista perioden av första av två år på utbildningen webbprogrammering.
                Jag läser på distans vid sidan jobbet. Jag känner att jag har lärt mig mycket men det är svårt att hålla allt i huvudet.
            </p>
        </div>
        <div class="column">
            <img class="center" src="{{ asset('img/moogle.png') }}" alt="A picture of a moogle">
        </div>
    </div>
{% endblock %}
