{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <h1>Rapport</h1>
    <br>
    <section id="kmom01">
        <h2>Kmom01</h2>
        <p></p>
    </section>
    <section id="kmom02">
        <h2>Kmom02</h2>
        <p></p>
    </section>
    <section id="kmom03">
        <h2>Kmom03</h2>
        <p></p>
    </section>
    <section id="kmom04">
        <h2>Kmom04</h2>
        <p></p>
    </section>
    <section id="kmom05">
        <h2>Kmom05</h2>
        <p></p>
    </section>
    <section id="kmom06">
        <h2>Kmom06</h2>
        <p></p>
    </section>
    <section id="kmom10">
        <h2>Kmom10</h2>
        <p></p>
    </section>
{% endblock %}
